{% extends 'base.html.twig' %}

{% block title %}Location courte durée à{{ title }}{% endblock %}

{% block body %}
	<div class="vh-100 d-flex column justify-content-center align-items-center {{ background }}">
		<div class="text-center">
			<p class="title">
				{{ title }}
			</p>
			<p class="subtitle {{ title == 'kyoto' or title == 'hong kong' ? 'subtitle-reverse' : '' }}">
				{{ subtitle }}
			</p>
			<a href={{ path('rooms', {'city' : title }) }} class="mt-5 btn btn-custom btn-lg rounded-pill">
				Accéder
			</a>
		</div>
	</div>

	{{ include('/partials/bottom-nav-city.html.twig') }}

{% endblock %}
